<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

  <connectionStrings>
    <add name="ConnectionString" connectionString="datasource=x;port=3306;username=x;password=x; SslMode = none"   providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>